---
import SlideTitle from "@/components/SlideTitle.astro";
import Slide from "../../components/Slide.astro";

import BabelLogo from "../../assets/images/now/babel-logo.svg?url";
import ViteLogo from "../../assets/images/now/vite-logo.svg?url";
import NextLogo from "../../assets/images/now/next-logo.svg?url";
import RemixLogo from "../../assets/images/now/remix-logo.svg?url";
import WebpackLogo from "../../assets/images/now/webpack-logo.svg?url";
import ReactNativeLogo from "../../assets/images/now/react-native-logo.svg?url";
import ExpoLogo from "../../assets/images/now/expo-logo.svg?url";

import TerminalBabel19 from "@/assets/images/now/terminal-babel-19.svg?url";
import TerminalBabelOld from "@/assets/images/now/terminal-babel-17-18.svg?url";
import ViteConfig from "../../assets/images/now/vite-config.svg?url";
import TerminalNext from "@/assets/images/now/terminal-next.svg?url";
import NextConfig from "@/assets/images/now/next-config.svg?url";
import TerminalRemix from "@/assets/images/now/terminal-remix.svg?url";
import RemixConfig from "@/assets/images/now/remix-vite-config.svg?url";

---

<Slide>
	<Slide>
		<SlideTitle
			title="Qu'est-ce qu'on peut faire dès maintenant"
			punctuation="?"
			style={{
				margin: "auto",
				fontSize: "2rem",
				fontWeight: "bolder",
			}}
		/>
	</Slide>
	<Slide>
		<SlideTitle
			title="Qu'est-ce qu'on peut faire dès maintenant"
			punctuation="?"
		/>
		<div class="logo-container">
			<img
				class="fragment logo"
				alt=""
				src={BabelLogo}
				data-fragment-index="1"
			/>
			<img
				class="fragment logo"
				alt=""
				src={ViteLogo}
				data-fragment-index="2"
			/>
			<img
				class="fragment logo"
				alt=""
				src={NextLogo}
				data-fragment-index="3"
			/>
			<img
				class="fragment logo"
				alt=""
				src={RemixLogo}
				data-fragment-index="4"
			/>
		</div>
		<div class="r-stack">
			<div class="multi-codes">
				<img data-fragment-index="1" class="fragment fade-in-then-out" src={TerminalBabel19} alt="" />
				<img data-fragment-index="1" class="fragment fade-in-then-out" src={TerminalBabelOld} alt="" />
			</div>
			<img data-fragment-index="2" class="fragment fade-in-then-out" src={ViteConfig} alt="" />
			<div class="multi-codes">
				<img data-fragment-index="3" class="fragment fade-in-then-out" src={TerminalNext} alt="" />
				<img data-fragment-index="3" class="fragment fade-in-then-out" src={NextConfig} alt="" />
			</div>
			<div class="multi-codes">
				<img data-fragment-index="4" class="fragment fade-in-then-out" src={TerminalRemix} alt="" />
				<img data-fragment-index="4" class="fragment fade-in-then-out" src={RemixConfig} alt="" />
			</div>
			<div class="other-stacks">
				<p data-fragment-index="5" class="fragment other-label">Et plein d'autres...</p>
				<div class="other-logos">
					<img data-fragment-index="5" class="fragment fade-in-then-out" src={WebpackLogo} alt="" />
					<img data-fragment-index="5" class="fragment fade-in-then-out" src={ReactNativeLogo} alt="" />
					<img data-fragment-index="5" class="fragment fade-in-then-out" src={ExpoLogo} alt="" />
				</div>
			</div>
		</div>
	</Slide>
</Slide>

<style>
	.logo-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 3rem;
		padding-top: 2rem;

		.logo {
			height: 130px;

			&:not(.current-fragment){
				opacity: 0.2;
			}
		}
	}

	.multi-codes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0;

		img {
			margin: 0;
		}
	}

	.other-stacks{
		display: flex;
		flex-direction: column;
		gap: 2rem;

		.other-label {
			font-size: 2rem;
			font-weight: 700;
			color: var(--dark-grey);
		}

		.other-logos {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 3rem;

			img {
				height: 100px;

				&:not(.current-fragment){
					opacity: 0.2;
				}
			}
		}
	}

	p {
		font-size: 1.8rem;
		font-weight: 700;
		color: var(--dark-grey);
	}

	.warn {
		width: 75%;
		font-size: 1.6rem;
		font-weight: 500;
		color: var(--dark-grey);
		padding: 1rem;
		border-radius: 20px;
		text-wrap: balance;
		line-height: 2rem;
		text-align: left;
		border-left: 5px solid var(--primary-color);
		margin: 3rem auto;

		&::marker {
			font-size: 4rem;
			color: var(--primary-color);
		}

		strong {
			font-weight: 700;
			color: var(--primary-color);
		}
	}
</style>
