---
import SlideTitle from "@/components/SlideTitle.astro";
import Slide from "../../components/Slide.astro";

import QRCodeLucas from "@/assets/images/conclusion/lucas.png?url";
import QRCodeMicka from "@/assets/images/conclusion/micka.png?url";
import QRCodeOpenFeedback from "@/assets/images/conclusion/openfeedback.png?url";
import OpenFeedBackLogo from "@/assets/images/conclusion/openfeedback-text.png?url";
import LogoZenika from "@/assets/images/speaker/zenika.png?url";
---

<Slide>
	<SlideTitle title="Un avis ou une question" punctuation="?" style={{
		margin: "auto",
	}} />
	<div class="flex">
		<div class="profile">
			<p class="name">Lucas Audart</p>
			<div class="picture">
				<img
					src="https://avatars.githubusercontent.com/u/48870153?v=4"
					alt=""
				/>
			</div>
			<img src={QRCodeLucas} alt="QR Code" class="qr-code" />
			<img src={LogoZenika} alt="Zenika" class="logo left" />
		</div>
		<div class="profile feedback">
			<img src={OpenFeedBackLogo} alt="Open Feedback" />
			<div class="picture">
				<img src={QRCodeOpenFeedback} alt="QR Code" class="qr-code" />
			</div>
		</div>
		<div class="profile">
			<p class="name">Mickaël Alves</p>
			<div class="picture">
				<img src="https://avatars.githubusercontent.com/u/60877626" alt="" />
			</div>
			<img src={QRCodeMicka} alt="QR Code" class="qr-code" />
			<img src={LogoZenika} alt="Zenika" class="logo right" />
		</div>
	</div>
</Slide>

<style>
	.qr-code {
		width: 200px;
	}

	.profile {
		padding: 1rem;
		width: 200px;
		border: dashed 2px var(--primary-color);
		border-radius: 15px;
		font-size: 2rem;
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		.name {
			font-size: 0.8rem;
			color: var(--primary-color);
			background-color: var(--background-color);
			font-weight: 800;
			margin: 0;
			padding: 0.5rem 1rem;
			border-radius: 5px;
			text-transform: uppercase;
		}

		&.feedback {
			width: 300px;
			border: none;

			.qr-code {
				width: 300px;
			}
		}

		p {
			text-align: center;
			font-weight: bold;
		}

		.logo {
			width: 50px;
			object-fit: contain;
			position: absolute;
			top: 13rem;

			&.left {
				left: 10px;
			}

			&.right {
				right: 10px;
			}
		}
	}

	.picture {
		position: relative;
	}

	.flex {
		display: flex;
		justify-content: space-around;
		gap: 1rem;
		padding-top: 2rem;
	}
</style>
