---
import Slide from "../../../components/Slide.astro";
import TableDXUX from "./TableDXUX.astro";
import Separator from "../../../components/Separator.astro";

import ReactForget from "../../../assets/images/timeline/react-conf-forget.png?url";
import ReactCompilerConf from "../../../assets/images/timeline/react-conf-compiler.png?url";
import ReactForgetTalk from "../../../assets/images/timeline/react-forget-talk.jpg?url";
import ReactPlayground from "../../../assets/images/timeline/react-playground.png?url";

import ReactTweetStart from "../../../assets/images/timeline/react-tweet-start.jpg?url"
import ReactTweetOss from "../../../assets/images/timeline/react-tweet-oss.jpg?url"
import ReactTweet1 from "../../../assets/images/timeline/react-tweet-1.jpg?url"
import ReactTweet2 from "../../../assets/images/timeline/react-tweet-2.jpg?url"
import ReactTweet3 from "../../../assets/images/timeline/react-tweet-3.jpg?url"
import React19 from "../../../assets/images/timeline/react-19.png?url"
import ReactTweetEvan from "../../../assets/images/timeline/react-tweet-evan.jpg?url"
import ReactTweetEvantMute from "../../../assets/images/timeline/react-tweet-evan-mute.jpg?url"
import Grimacing from "../../../assets/images/timeline/grimacing.png?url"
---

<Slide>
	<div class="date-container">
		<p class="date-big">2021.</p>
	</div>
</Slide>
<Slide>
	<div class="date-container">
		<p class="date-small">2021.</p>
		<p class="title-date">Annonce du React Compiler</p>
	</div>
	<Separator/>
</Slide>
<Slide>
	<div class="date-container">
		<p class="date-small">2021.</p>
		<p class="title-date">Annonce de <strong>React Forget</strong></p>
	</div>
	<Separator/>
</Slide>
<Slide>
	<div class="date-container">
		<p class="date-small">2021.</p>
		<p class="title-date">Annonce de <strong>React Forget</strong></p>
	</div>
	<Separator/>
	<div class="r-stack">
		<img class="fragment current-visible" src={ReactForget} alt="React Forget" style={{
			height: "400px",
			margin: "auto",
			marginTop: "2rem",
			borderRadius: "10px",
			boxShadow: "0 0 10px rgba(0, 0, 0, 0.3)"
		}}/>
		<img class="fragment" src={ReactForgetTalk} alt="React Forget" style={{
			height: "400px",
			margin: "auto",
			marginTop: "2rem",
			borderRadius: "10px",
			boxShadow: "0 0 10px rgba(0, 0, 0, 0.3)"
		}}/>
	</div>
</Slide>
<Slide>
	<div class="date-container">
		<p class="date-small">2021.</p>
		<p class="title-date">Annonce de <strong>React Forget</strong></p>
	</div>
	<Separator/>
	<TableDXUX/>
</Slide>
<Slide>
	<div class="date-container">
		<p class="date-small">2021.</p>
		<p class="title-date">Annonce de <strong>React Forget</strong></p>
	</div>
	<Separator/>
	<div class="r-stack steps">
		<ul>
			<li class="fragment">Un nouveau projet React Labs <strong>🧪</strong></li>
			<li class="fragment">Un compilateur qui mémoize automatiquement. <strong>🪄</strong></li>
			<li class="fragment">En supportant toutes les bases de codes <strong>⚛️</strong></li>
		</ul>
	</div>
</Slide>
<Slide>
	<div class="date-container">
		<p class="date-big">2022.</p>
	</div>
</Slide>
<Slide>
	<div class="date-container">
		<p class="date-small">2022.</p>
		<p class="title-date">Avancement du React Labs</p>
	</div>
	<Separator/>
</Slide>
<Slide>
	<div class="date-container">
		<p class="date-small">2022.</p>
		<p class="title-date">Avancement du React Labs</p>
	</div>
	<Separator/>
	<img class="playground" src={ReactPlayground} alt="React Playground"/>
	<span class="playground-label">
		React Compiler Playground
	</span>
</Slide>
<Slide>
	<div class="date-container">
		<p class="date-big">2024.</p>
	</div>
</Slide>
<Slide>
	<div class="date-container">
		<p class="date-small">2024.</p>
		<p class="title-date">React Compiler en React Canary</p>
	</div>
	<Separator/>
</Slide>
<Slide>
	<div class="date-container">
		<p class="date-small">2024.</p>
		<p class="title-date">React Compiler en React Canary</p>
	</div>
	<Separator/>
	<div class="r-stack" style={{padding: '6rem 0'}}>
		<img class="tweet fragment" src={ReactTweetStart} width="600" alt="React Forget" />
		<img class="tweet fragment" src={ReactTweetOss} width="1000" alt="React Forget" />
		<img class="tweet fragment fade-left" src={React19} alt="React Forget" style={{
			position: "absolute",
			width: "50%",
			top: "160px",
			right: "-30px",
		}}/>
		<img class="tweet fragment fade-right" src={ReactCompilerConf} alt="React Forget" style={{
			position: "absolute",
			width: "50%",
			top: "140px",
			left: "-30px",
		}}/>
		<img class="tweet fragment fade-up" src={ReactTweet2} alt="React Forget" style={{
			position: "absolute",
			width: "40%",
			bottom: "0px",
			left: "0px",
		}}/>
		<img class="tweet fragment fade-up" src={ReactTweet3} alt="React Forget" style={{
			position: "absolute",
			width: "45%",
			top: "170px",
			right: "280px",
		}}/>
		<img class="tweet fragment fade-up" src={ReactTweet1} alt="React Forget" style={{
			position: "absolute",
			width: "45%",
			top: "350px",
			right: "15px",
		}}/>
	</div>
</Slide>
<Slide>
	<div class="date-container">
		<p class="date-small">2024.</p>
		<p class="title-date">React Compiler en React Canary</p>
	</div>
	<Separator/>
	<div style={{padding: '2rem 0'}}>
		<img data-fragment-index="1" class="tweet fade-up" src={ReactTweetEvan} width="600" alt="React Forget Evan" />
		<img data-fragment-index="2" class="reaction fragment" src={Grimacing } alt="Grimacing" />
		<img data-fragment-index="2" class="tweet fragment fade-up" src={ReactTweetEvantMute} width="600" alt="React Forget Evan mute" />
	</div>
</Slide>

<style>
	.date-big {
		text-align: center;
		font-size: 10rem;
		font-weight: bolder;
		color: var(--primary-color);
	}

	.date-small {
		text-align: left;
		font-size: 3rem;
		font-weight: bolder;
		color: var(--primary-color);
	}

	.date-container {
		display: flex;
		gap: 2rem;
		justify-content: center;
		align-items: center;
	}

	.title-date {
		font-size: 2rem;
		font-weight: bolder;
		color: var(--dark-grey);

		strong {
			color: var(--primary-color);
			font-weight: bold;
		}
	}

	ul, ol {
		padding-top: 1.5rem;
		list-style-type: decimal;

		li {
			font-size: 1.8rem;
			font-weight: 700;
			color: var(--dark-grey);
			margin: 1rem 0;
			text-wrap: balance;

			&::marker {
				font-size: 5rem;
				color: var(--primary-color);
			}

			strong {
				font-size: 3rem;
			}
		}
	}

	.playground {
		border-radius: 10px;
		width: 90%;
		border: 2px solid var(--primary-color);
	}

	.playground-label {
		color: var(--primary-color);
		font-size: 1.5rem;
		font-weight: bold;
		position: absolute;
		left: 0;
		bottom: 50px;
		background-color: white;
		padding: 0.5rem 1.5rem;
		border: 2px solid var(--primary-color);
		border-radius: 10px;
	}

	.tweet {
		height: auto;
		position: relative;
		border-radius: 10px;
		border: 2px solid var(--primary-color);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	}

	.reaction {
		position: absolute;
		left: 70%;
		top: 43%;
		width: 200px;
		z-index: 10;
		filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
	}
</style>
